<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RpgTreeDb"
			 providerName="Microsoft.Data.SqlClient"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                   AttachDbFilename=C:\Users\lolpr\source\repos\AIS_LabWork1\DataAccessLayer\Database1.mdf;
                   Integrated Security=True"/>
	</connectionStrings>
</configuration>